[Unit]
Description=Cloudflare Tunnel
After=network.target

[Service]
TimeoutStartSec=0
Type=simple
ExecStart=/usr/local/bin/cloudflared tunnel --config /etc/cloudflared/config_server.yml run
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
